<ion-header [translucent]="true" class="center">
  <ion-toolbar>
    <ion-title>
      کارهای انجام شده
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>کارهای انجام شده</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let task of doneTasks">
          <ion-item-sliding> 
            <ion-item-options side="start">
              <ion-item-option (click)="setTaskStatus(task.task_id)" color="primary">
                <ion-icon slot="start" name="folder-open-outline"></ion-icon>
                انجام نشده
              </ion-item-option>
            </ion-item-options>
            
            <ion-item (click)="setOpen(task.task_id, true)">
              <ion-label class="center">{{ format_task_show(task) }}</ion-label>
            </ion-item>
            <ion-modal [isOpen]="openModals.includes(task.task_id)">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>{{ task.task_title }}</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpen(task.task_id, false)">بستن</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <h6>عنوان: {{ task.task_title }}</h6>
                  <h6>توضیحات: {{ task.task_desc }}</h6>
                  <h6>تاریخ شروع: {{ format_task_show(task.task_start_date) }}</h6>
                  <h6>تاریخ پایان: {{ format_task_show(task.task_end_date) }}</h6>
                  <h6>وضعیت: انجام شده</h6>
                </ion-content>
              </ng-template>
            </ion-modal>
        
            <ion-item-options side="end">
              <ion-item-option (click)="removeTask(task.task_id)" color="danger">
                <ion-icon slot="start" name="trash"></ion-icon>
                حذف
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        </ion-item>  
      </ion-list>  
    </ion-card-content>
  </ion-card>
</ion-content>
