<ion-header [translucent]="true" class="center">
  <ion-toolbar>
    <ion-title>
      تنظیمات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="!loggedIn">
    <ion-card-header>
      <ion-card-title>ورود به سیستم</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-input type="text" formControlName="username" label="نام کاربری" labelPlacement="floating"></ion-input>
        <ion-input type="password" formControlName="password" label="رمز عبور" labelPlacement="floating"></ion-input>
        <ion-button type="submit">ورود</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loggedIn">
    <ion-card-content>
      <ion-button (click)="logout()" expand="block" color="danger">خروج</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
